* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica,sa Arial, ns-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    box-shadow: 1px 0 8px gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100vw;
}

#game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 32px;
}

.reset {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.resetBtn {
    height: 50px;
    width: 150px;
    border-radius: 8px;
    border-style: none;
    font-weight: bold;
    font-size: 16px;
}

.resetBtn:hover {
    background-color: lightgray;
}

.text {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 32px;
    margin: 32px 0;
}